.landing
  width: 100%
  background-image: url(img/background_landing2_01.jpg)
  background-size: cover
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  transform-style: preserve-3d

.header
  margin: 0 auto
  text-align: center
  &__logo-link
    display: inline-block
    text-decoration: none
  &__logo
    display: inline-block
    margin: 11px 0 0 0
    width: 128px // TODO: svg!
  &__social
    display: inline-block
    margin-top: 22px
    margin-left: 0.735294117647% // 6px / 816px
    vertical-align: top
  &__social-item
    display: inline-block
    text-decoration: none
    margin: 0
  &__social-item-img
    width: 68.75% // 22px / 33px
    margin-top: 17px
    margin-left: 0.490196078431% // 4px / 816px


.nav
  display: inline-block
  margin: 32px 0 0 14px
  vertical-align: top
  &__menu
    margin: 0
    font-family: "PT SANS"
    font-size: 14px
  &__menu-item
    display: inline-block
    margin: 0 27px 0 0
    &:hover
      line-height: 32px
      border-top: 2px solid #2ca9c9
  &__menu-item_active
    line-height: 32px
    border-top: 2px solid #2ca9c9
  &__menu-item-link
    text-decoration: none
    color: #333333
.landing-text
  margin: 0 auto
  position: relative
  top: 33%
  transform: translateY(-50%)

.title
  margin: 0 auto
  width: 900px
  &__header
    margin: 58px 0 0 14px
    text-align: center
    font-family: "PT SANS"
    font-weight: normal
    font-size: 40px
    color: #333333
  &__stripe
    background: #cbcccd
    width: 114px
    height: 1px
    margin: 33px auto 0 auto
.phone
  margin: 0 auto
  width: 900px
  &__wrapper
    text-align: center
    margin: 47px 0 0 6px
  &__img
    display: inline-block
    width: 12px
    margin: 0 0 0 0
  &__number
    display: inline-block
    vertical-align: top
    margin: 0 0 0 11px
    font-size: 18px
    color: #333
  &__comment
    margin: 34px 0 0 0
    font-size: 19px
    font-weight: normal
    letter-spacing: 0.4px
.landing-icons
  width: 580px
  margin: 39px auto 0 auto
  padding: 0 0 0 22px
  font-family: "PT SANS"
  &__item
    display: inline-block
    text-align: center
    margin-left: 44px
  &__arrow
    display: inline-block
    vertical-align: top
    margin: 36px 0 0 4px
    width: 8px
  &__img
    width: 50px
  &__img-done
    width: 45px
    margin: 0 0 8px 8px
  &__img-mail
    width: 45px
    margin: 0 0 8px 8px
  &__img-box
    width: 39px
    margin: 0 0 1px 6px
  &__text
    font-size: 13px
    color: #333333
.button
  margin: 0 auto
  width: 180px
  height: 50px
  text-align: center
  &__item
    display: block
    width: 180px
    height: 31px
    border: 1px solid #333333
    border-radius: 3px 3px
    text-align: center
    margin: 33px 0 0 4px
    font-size: 13px
    line-height: 31px
    text-decoration: none
    color: #333
    &:hover
      background-color: #2ca9c9
.about-us
  margin: 0 auto
  width: 780px
  text-align: center
  &__header
    font-family: "PT SANS"
    margin: 43px 0 0 0

  &__icon-list
    text-align: center
    margin: 32px 0 0 10px
  &__icon-list-item
    display: inline-block
    width: 126px
    margin: 0
    padding: 0 62px 0 62px
  &__img
    width: 122px
  &__text
    font-size: 14px
    padding: 6px 0 0 0
  &__carousel-buttons
    width: 55px
    margin: 28px auto 0 auto
    padding: 0 0 0 12px
  &__carousel-buttons-item
    display: inline-block
    width: 10px
    height: 10px
    border: 1px solid #333
    border-radius: 10px 10px
    text-decoration: none
  &__carousel-buttons-item_active
    background-color: #2ca9c9