@media screen and (max-width: 1499px) {
  html {
    font-size: 16px; } }
@media screen and (min-width: 1500px) {
  html {
    font-size: 19px; } }
.landing {
  width: 100%;
  background-image: url(img/background_landing2_01.jpg);
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .landing__button {
    margin: 0 auto;
    width: 186px;
    height: 50px;
    text-align: center; }
  .landing__button-item {
    display: block;
    height: 31px;
    border: 1px solid #333333;
    border-radius: 3px 3px;
    text-align: center;
    margin-top: 33px;
    font-size: 0.8125rem;
    line-height: 31px;
    text-decoration: none;
    color: #333; }
    .landing__button-item:hover {
      background-color: #2ca9c9; }

.header {
  margin: 0 auto;
  text-align: center; }
  .header__logo-link {
    display: inline-block;
    text-decoration: none; }
  .header__logo {
    display: inline-block;
    margin-top: 11px;
    width: 128px; }
  .header__social {
    display: inline-block;
    margin-top: 22px;
    margin-left: 0.73529%;
    vertical-align: top; }
  .header__social-item {
    display: inline-block;
    text-decoration: none;
    margin: 0; }
  .header__social-item-img {
    width: 68.75%;
    margin-top: 17px;
    margin-left: 0.4902%; }

.nav {
  display: inline-block;
  margin-top: 32px;
  margin-left: 0.97425%;
  vertical-align: top; }
  .nav__menu {
    margin: 0;
    font-family: "PT SANS";
    font-size: 0.875rem; }
  .nav__menu-item {
    display: inline-block;
    margin: 0 27px 0 0; }
    .nav__menu-item:hover {
      line-height: 32px;
      border-top: 2px solid #2ca9c9; }
  .nav__menu-item_active {
    line-height: 32px;
    border-top: 2px solid #2ca9c9; }
  .nav__menu-item-link {
    text-decoration: none;
    color: #333333; }

.landing-text {
  text-align: center;
  position: relative;
  top: 35%;
  transform: translateY(-50%); }

.title {
  text-align: center; }
  .title__header {
    margin-top: 58px;
    margin-left: 0.41754%;
    text-align: center;
    font-family: "PT SANS";
    font-weight: normal;
    font-size: 2.5rem;
    color: #000;
    opacity: 0.7; }
  .title__stripe {
    background: #cbcccd;
    width: 114px;
    height: 1px;
    margin: 33px auto 0 auto; }

.phone {
  text-align: center; }
  .phone__wrapper {
    text-align: center;
    margin: 47px 0 0 6px; }
  .phone__img {
    display: inline-block;
    width: 12px;
    margin: 0 0 0 0; }
  .phone__number {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 11px;
    font-size: 0.875rem;
    color: #000;
    opacity: 0.7; }
  .phone__comment {
    margin: 34px 0 0 0;
    font-size: 1.1875rem;
    font-weight: normal;
    letter-spacing: 0.4px;
    opacity: 0.7; }

.landing-icons {
  text-align: center;
  margin-top: 39px;
  padding: 0;
  font-family: "PT SANS"; }
  .landing-icons__item {
    display: inline-block;
    text-align: center;
    margin-right: 33px; }
  .landing-icons__img-wrapper {
    display: inline-block;
    text-align: center;
    width: 100%; }
  .landing-icons__arrow {
    display: inline-block;
    vertical-align: top;
    margin: 36px 0 0 4px;
    width: 8px; }
  .landing-icons__img {
    width: 48%; }
  .landing-icons__img-done {
    width: 48%;
    vertical-align: middle; }
  .landing-icons__img-mail {
    width: 67%;
    margin: 0 0 12px 0;
    vertical-align: middle; }
  .landing-icons__img-box {
    width: 36%;
    vertical-align: middle; }
  .landing-icons__text {
    font-size: 0.8125rem;
    color: #000;
    opacity: 0.7; }

.about-us {
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .about-us__wrapper {
    text-align: center;
    position: relative; }
  .about-us__header {
    font-family: "PT SANS";
    margin: 43px 0 0 0; }
  .about-us__title {
    opacity: 0.7; }
  .about-us__icon-list {
    text-align: center;
    margin: 32px 0 0 10px; }
  .about-us__icon-list-item {
    display: inline-block;
    width: 126px;
    margin: 0;
    padding: 0 62px 0 62px; }
  .about-us__img {
    width: 122px; }
  .about-us__text {
    font-size: 0.825rem;
    padding: 6px 0 0 0;
    opacity: 0.7; }
  .about-us__carousel-buttons {
    width: 55px;
    margin: 28px auto;
    padding: 0 0 0 12px; }
  .about-us__carousel-buttons-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 10px 10px;
    text-decoration: none; }
  .about-us__carousel-buttons-item_active {
    background-color: #2ca9c9; }

.comments {
  width: 100%;
  display: inline-block;
  background-image: url("img/comments_background.jpg");
  text-align: center;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: #eee; }
  .comments__wrapper {
    text-align: center;
    position: relative; }
  .comments__header {
    font-family: "PT SANS";
    margin: 43px 0 0 0; }
  .comments__title {
    opacity: 0.7; }
  .comments__icon-list {
    text-align: center;
    margin: 32px 0 0 10px; }
  .comments__icon-list-item {
    display: inline-block;
    width: 16.83299%;
    margin: 0;
    padding: 0 10px 0 0; }
  .comments__img {
    width: 122px; }
  .comments__text {
    font-size: 0.825rem;
    padding: 6px 0 0 0; }
  .comments__commenter-name {
    font-size: 0.825rem;
    font-weight: bold;
    opacity: 0.7; }
  .comments__button {
    margin: 0 auto;
    width: 186px;
    height: 50px;
    text-align: center; }
  .comments__button-item {
    display: block;
    height: 31px;
    border: 1px solid #fff;
    border-radius: 3px 3px;
    text-align: center;
    margin-top: 33px;
    font-size: 0.8125rem;
    line-height: 31px;
    text-decoration: none;
    color: #fff;
    opacity: 0.7; }
    .comments__button-item:hover {
      background-color: #2ca9c9; }
  .comments__arrow {
    display: inline-block;
    vertical-align: top;
    margin: 60px 0 0 4px; }

.trading-platforms {
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .trading-platforms__wrapper {
    text-align: center;
    position: relative; }
  .trading-platforms__column {
    display: inline-block;
    width: 20%;
    vertical-align: top; }
  .trading-platforms__header {
    font-family: "PT SANS";
    margin: 43px 0 0 0; }
  .trading-platforms__title {
    opacity: 0.7; }

.horizontal-column {
  display: inline-block;
  width: 30%; }
  .horizontal-column__icon-list-item {
    display: inline-block;
    width: 126px;
    margin: 0;
    padding: 0 62px 0 62px; }
  .horizontal-column__img {
    display: inline-block;
    width: 30%; }
  .horizontal-column__text {
    display: inline-block;
    width: 30%;
    font-size: 0.825rem;
    padding: 6px 0 0 0;
    opacity: 0.7; }

.vertical-column {
  display: inline-block;
  width: 30%; }
  .vertical-column__icon-list-item {
    display: inline-block;
    width: 126px;
    margin: 0;
    padding: 0 62px 0 62px; }
  .vertical-column__img {
    width: 122px; }
  .vertical-column__text {
    font-size: 0.825rem;
    padding: 6px 0 0 0;
    opacity: 0.7; }

/*# sourceMappingURL=index.css.map */
