/* PC */
@media screen and (min-width: 1500px)
  .header
    &__logo
      width: 150px
@media screen and (min-width: 851px) and (max-width: 1499px)
  html
    font-size: 1rem
@media screen and (min-width: 1500px)
  html
    font-size: 1.3rem
  .about-us
    &__text
      min-height: 185px